.save-button {
  background-color: rgba(249, 249, 249, 1);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;

  &.active {
    background-color: rgba(251, 215, 178, 0.3);
  }

  @media only screen and (max-width: 420px) {
    width: 40px;
    height: 40px;
  }
}