$footer-background: #ffffff;
$footer-height: 130px;
$margin-top: 120px;

.footer {
  background-color: $footer-background;
  height: $footer-height;
  margin-top: $margin-top;

  .header-content {
    height: $footer-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      display: block;
    }
  }
}