$footer-background: #ffffff;
$footer-height: 130px;
$margin-top: 120px;

.footer {
  background-color: $footer-background;
  height: $footer-height;
  margin-top: $margin-top;
  display: flex;
  align-items: center;
}