@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", serif;
  color: rgba(57, 57, 57, 1);
  background-color: rgba(250, 250, 250, 1);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  color: rgba(57, 57, 57, 1);
  font-size: 64px;
  text-transform: capitalize;
  text-align: center;

  .orange-span {
    color: rgba(241, 121, 0, 1);
  }
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 30px;
  }
}