h2 {
  text-align: center;
  font-size: 40px;
  color: rgba(57, 57, 57, 1);

  @media only screen and (max-width: 420px) {
    font-size: 20px;
  }
}

.section-title {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text {
  display: block;
  font-size: 16px;
  color: rgba(224, 164, 73, 1);

  @media only screen and (max-width: 420px) {
    font-size: 12px;
  }
}

.thumbnail-card-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}